.hr-line {
  margin: 0px;
  border: 1px solid #64748b;
}

.selection-type-container {
  padding-left: 3px;
  margin: 0px;
}

.list-container {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.type-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.label-ele {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin-left: 6px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

/* Search Small Container */

.search-sm-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #64748b;
  border-radius: 10px;
}

.large-search-con {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .small-search-con {
    display: none;
  }
}

.large-search-con {
  display: none;
}

@media (min-widht: 768px) {
  .large-search-con {
    display: inline;
  }
}

.search-input-sm {
  width: 100%;
  height: 100%;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  border-width: 0px;
  background-color: #000000;
  font-family: 'Roboto';
  font-size: 13px;
  color: #ffffff;
}

.search-button-sm {
  padding: 10px;
  background-color: #212121;
  border-width: 0px;
  height: 100%;
  width: 20%;
  border-left: 1px solid #64748b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.seach-icon-sm {
  color: #ffffff;
  font-size: 20px;
}
