.not-found-continaer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.not-fount-img {
  width: 200px;
}

@media (min-width: 768px) {
  .not-fount-img {
    width: 400px;
  }
}
